---
title: Dramatic Performance Judging Criteria
---
<p>Includes all mimetic performances: scenes from play scripts, mime, improvisation, etc. Subsidiary elements such as music, sets, or costumes may be included to enhance effect, but will not be judged except as a bonus in Complexity. Material performed must have a story line. Original material (by entrant or other) may be used if it is completely authentic in style. Material may be written or extemporaneous; in original language or translation. An entry may be an individual performance or a group scene. A performer in a group scene may have his part judged as an individual performance if he submits individual documentation. <B>Time limits: 5 minutes for individual; 10 minutes for group.</b></p>
<p>Entrant should submit 3 typed copies of documentation at registration; documentation must include script (or plot summary for mime or improvisation).<br />
DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one page should be more than enough, not including visuals and bibliography. 2 pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Composer / Identification / description / use of the entry. Date and place/country of origin entry is modeled on. Reference and copy of music.<br />
• Materials used in the project (instruments and music<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc.) sources of text, inspiration/model/ period sources upon which material is based, theme communication, blocking, prop use, line reading. Discussion of period actor/playwright/audience relationship. medium and performance practice as they relate to period, style, form, national/regional characteristics, sacred or secular application, use of ornamentation, embellishment, etc.<br />
• Artistic design identifying time period the piece characterizes.</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE] Applies to performance not script.<br />
• 0: No attempt at anything authentic. Blatantly modern in some aspect: e.g. material performed, treatment of audience, actor/character relationship, or stage use.<br />
• 1: Uses "fourth wall" style and has no props<br />
• 2: No "fourth wall" but has props<br />
• 3: Period approach to actor/character/audience relationship, but many modern elements; weak visualization of scene from text.<br />
• 4: Period approach with minor inconsistencies.<br />
• 5: Uses "fourth wall" and has props<br />
• 6: No inconsistencies in approach; minor business flaws or mediocre visualization.<br />
• 7-8: Attempts to involve audience and has essential props<br />
• 9-10: Coherent period approach, plus special features interpreted from text into performance: a complete period visualization from an attentive reading.<br />
<B>NOTE: Use of some rhetoric would add one point toward this score.<br />
BONUS: Judge may add points to any Authenticity score for special effort to establish a period performance atmosphere by use of such physical effects sets, costumes, music, etc. consistent with standards of the given period.</b></p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the performance, not the execution of the performance or the script, based on the following:<br />
• Interpretation and its success<br />
• Coherent blocking and interpretation<br />
• Difficulties between play's language and outs by using audience/actor relationship<br />
• Character depth and line reading for meaning<br />
• Prop use and business<br />
• Uses features of language to explain meaning and also uses some symbolic gesture<br />
<B>NOTE: Extra points may be awarded for extra elements such as music, sets, or costumes included to enhance effect.</b></p>
<p>PERFORMANCE replaces "WORKMANSHIP" on the score sheet. (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution (performance) and success of the entry on a scale of 1-10 based on the following:<br />
• Number of cues/prompts needed for good performance<br />
• Evidence of interpretation; insight to author's meaning<br />
• Pacing and use of props<br />
• Characterization and business<br />
• Gestures<br />
• Success at level of complexity (level 3, 4 or 5)</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>