---
title: Feltmaking Judging Criteria
---

DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc.) .), visual references (books, portraits, etc.) from reliable sources<br />
• Artistic design, rationale for choice of style, techniques and materials used, as well as their appropriateness to each other, to the item's purpose and to period.</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0-2: Presence of materials that are not natural<br />
• 3-4: Finished product is inappropriate for stated use (i.e., too rough for court wear, too fine for rugged use)<br />
• 5-6: Entry has flaws in construction or is obviously modern (i.e., edges finished inappropriately or fake fur added)<br />
• 7-8: Entry has minor flaws in construction, but explanation of what was correct is offered.<br />
• 9-10: Entry has the look of a period item and appears appropriate for stated use</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship based on the following:<br />
• Difficulty and variety of design<br />
• Use of hand carded or fluffed fiber<br />
• Complex shaping<br />
• Seaming<br />
• Patterned overlay with felt or fiber<br />
• Embellishment--fringing, braiding<br />
• Two or more matching pieces (i.e., gloves or shoes)<br />
• Use of multiple fiber types<br />
• Project of large physical size</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale 1-10, based on the following:<br />
• Evenness of felt<br />
• Consistency of felt density. Weak or thin areas?<br />
• How well-fulled?<br />
• Hardness of felt is uniform<br />
• Edges uniform or finished in appropriate manner<br />
• Shaping is consistent and appropriate<br />
• Overlay well attached. Project well finished.</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>