---
title: Sculpture Judging Criteria
---

This category includes three-dimensional decorative pieces in any media: Subtractive (wood, stone, marble, etc); additive (clay, etc) or cast (bronze, etc). functional objects decorated with sculpture (ex. a carved chest top) may be entered, but only the sculpture will be judged.</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of item, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, etc), visual and descriptive references (books, portraits, etc.) from reliable sources<br />
• Artistic design, reasons for choice of subject and rationale for design.</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0: Blatantly modern in any area; Ex. medium ("artificial" stone, fiberglass, etc.), design (abstract, modern, etc.) or techniques (jackhammer, chainsaw, etc)<br />
• 1-2: Project fits the context of period, but an adequate understanding of the item being created is missing OR generally period, with some obviously modern elements (Ex. using acrylic paints to polychrome an otherwise authentic statue)<br />
• 3-4: Generally period but obvious mixture of elements from different cultures or periods (Egyptian hieroglyphics on a Celtic high cross; a rhinestone of polished Italian marble)<br />
• 5-6: Overall period style and execution, with minor inconsistencies; or use of modern shortcuts to simulate results (sandpaper, etc.)<br />
• 7-8: Period design and execution with no inconsistencies; period materials or reasonable equivalents (Ex. hard clear limestone to substitute for a prohibitively expensive type of marble)<br />
• 9-10: Special effort to achieve a completely period product by use of period design, materials, tools, techniques, etc.)</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship, scale of 1-10 based on the following:<br />
• Difficulties of the medium, materials, tools used (subtractive media is more difficult than additive; hard substances are more difficult than soft, etc).<br />
• Variety and difficulty of design elements (realistic human figures more difficult than stylized geometric patterns)<br />
• Difficulty and variety of techniques attempted (cast media require more steps than other media)<br />
• Intricacy of creating an object in the size/scale utilized in the entry. (Remember that all sizes are difficult because in small scale it is difficult to get details and in large scale, any minor flaw shows noticeably.)<br />
• Amount of time involved including research and material preparation.<br />
• Scope of endeavor (number of pieces, dimensionally, size of work relative to amount of detail)</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale 1-10, based on the following:<br />
• Choice, use and handling of materials/media: preparation, respect for grain or natural structure of material, etc. Is media appropriate to purpose, period, and design.<br />
• Attention to details, neatness and finishing touches<br />
• Appropriate application of design (choice of subject or motifs, balance, aesthetics, style, etc)<br />
• Mastery of period style and technique, personalization and special embellishment.<br />
• Execution: proportion, carving or sculpting techniques, etc. Does sculpture accurately transfer intended form to sculpted state</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>