---
title: Weaving Judging Criteria
---

Entrant must specify type of loom used and planned use of item. This category includes standard cloth weaving and tapestry weaving.</p>
<p>DOCUMENTATION (3-30 points. SCORED 1-10 then MULTIPLY BY 3) Must have at least a 3x5 card (or A6 paper). More is acceptable, although one or two pages should be more than enough, not counting visuals and bibliography. Three pages for exceptionally detailed and in-depth work. The best documentation will cover what they did in period, what the creator did in the project, and why the difference (if any). It will also explain any conscious compromises made, and provide footnotes, illustrations, and references, as well as any original research or experimentation as it applies to the project. Give score based on the following:<br />
• A minimum of a 3 x 5 (A6) card with some of the following: Name (type) of weaving, country of origin, period of origin, characteristics of style for that period, reference.<br />
• Materials used in the project<br />
• Skills (necessary to complete the project)<br />
• Methods and Tools used during the process<br />
• Research (country, period of origin, typical characteristics, visual references [books, portraits, etc.] from reliable sources)<br />
• Artistic design, intended use of the item</p>
<p>AUTHENTICITY (0-20 points) [SCORE 0-10 and then DOUBLE THE SCORE]<br />
• 0: Blatantly modern in some aspect<br />
• 1-2: Generally period, with some obviously modern elements,<br />
• 3-4: Generally period, but obvious mixture of materials or techniques from radically different cultures or periods.<br />
• 5-6: Overall period product and process, with minor inconsistencies in combination of elements; period materials or reasonable substitutes<br />
• 7-8: Period product and process with no inconsistencies; elements appropriate to each other, to period and to intended use.<br />
• 9-10: #8 plus special effort to achieve a completely period product by use of period raw materials, tools, etc. Completely period process without modern shortcuts.</p>
<p>COMPLEXITY (1-10 points) Rank the ambition of the entry, not the workmanship based on the following:<br />
• Difficulty of designs/patterns/weaves used<br />
• Variety of designs/patterns/weaves used<br />
• Difficulty and variety of materials used<br />
• Difficulty and variety of techniques used<br />
• Scope of endeavor (size of work in relation to amount of detail)</p>
<p>WORKMANSHIP (3-30 points. SCORE 1-10 then MULTIPLY BY 3) Rank the quality of execution and success of the entry on a scale 1-10, based on the following:<br />
• Choice of materials, tools, and methods: Is combination suitable?<br />
• Evenness of warp tension ; Evenness of weft tension<br />
• Attention to details, finishing, and neatness (including starts and ends)<br />
• Pattern development<br />
• Uniformity of repeat<br />
• Do colors and materials compliment chosen pattern?<br />
• Appropriate choice of materials and design combinations.<br />
• Effective use of materials and designs.<br />
• Mastery of period style and technique.<br />
• Special embellishment or special consideration such as personalization to an event, individual, or idea</p>
<p>AESTHETIC VALUE (1-10 points) Evaluate the work as a whole, rating the aesthetic effect and appeal beyond the mere technical proficiency. Consider how you react to the entry (intuitive response) and other items not previously addressed.</p>