---
layout: single
pagination:
  enabled: true
---
{% for post in paginator.posts %}
  <p>
  <strong><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong> {{ post.date | date:"%Y-%m-%d" }}<br>
  
  {% for tag in post.tags %}
  <a href="{{ site.baseurl }}/posts/tags/{{ tag }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
  {% endfor %}
  </p>
{% endfor %}

{% if paginator.page_trail %}
<div class="pagination">
  {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&lt;&lt;</a>
  {% endif %}
  {% for trail in paginator.page_trail %}
        <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}"
        {% if page.url == trail.path %}class="active"{% endif %}
        >{{ trail.num }}</a>
  {% endfor %}
  {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&gt;&gt;</a>
  {% endif %}
</div>
{% endif %}
